{% extends 'base_dash.html' %}
{% block estilos %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/fontawesome.min.css" integrity="sha512-shT5e46zNSD6lt4dlJHb+7LoUko9QZXTGlmWWx0qjI9UhQrElRb+Q5DM7SVte9G9ZNmovz2qIaV7IWv0xQkBkw==" crossorigin="anonymous" />

{% endblock estilos %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/fontawesome.min.js" integrity="sha512-pafh0hrrT9ZPZl/jx0cwyp7N2+ozgQf+YK94jSupHHLD2lcEYTLxEju4mW/2sbn4qFEfxJGZyIX/yJiQvgglpw==" crossorigin="anonymous"></script>
{% endblock scripts %}
{% block body %}
<a href="#" class="float">
    <i class="my-float far fa-hand-sparkles"></i>
    </a>
    <style>
        *{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
    </style>
<div class="flex-fill">
    <div class="d-flex justify-content-end">
        
        <div style="font-size: 10px;" class="pt-3 pr-2">Ultima actualización: Mié 30 sep. 9:45</div>
    </div>
    <div class="p-3 row no-gutters">
        <div class="col-lg-8 order-lg-1 order-2">
            <div class="d-lg-flex">
                <div class="pr-lg-4">
                    
                    <h3  class="m-0 p-0">{{deuda.propietario}}</h3>
                    <h2>ID:  {{deuda.id_apartamento}}</h2>
                    
                    <div class="mt-4">Segmentos:</div>
                    <div><b style="color: #2A426D">Deuda Vencida {{deuda.numero_meses}} meses</b></div>
                   
                </div>
                <div class="px-lg-4 bor_gris_55">
                  <div class="d-flex justify-content-between">
                        <div>
                          <div >Prioridad:</div>
                          <div><b style="color: #2A426D">Prioridad alta de gestión</b></div>
                        </div>
                    
                        
                        <div class="p-2"><img src="images/rojo.png" alt=""/></div>
                  </div>
                    
                    <div class="mt-2">Email de Seguimiento:</div>
                    <div><b style="color: #2A426D">mianbefe@gmail.com</b></div>
                    
                    <div class="mt-3">Teléfono o Móvil: </div>
                    <div class="mb-2"><b style="color: #2A426D">333 5017356</b></div>
                </div>
                <div class="px-lg-3">
                    <div>Antigüedad de la deuda</div>
                    <div><b style="color: #2A426D">{% widthratio deuda.numero_meses 1 30 %} días.</b></div>
                    
                   
                </div>
            </div>
        </div>
      
    </div>
    
        <!-- Contenedor Principal -->
	<div class="comments-container">
	<li>
        <div class="comment-main-level">
     
            <div class="comment-box">
              <div class="comment-head">
                <h6 class="comment-name by-author" style="--autor: '{{tarea.id_asignado}}';"><a href=#"">{{tarea.titulo}}</a></h6>
                <span>{{tarea.fecha_vencimiento}}</span>
                <i class="fa fa-reply"><a href="http://{{ request.get_host }}/media/{{tarea.file}}">Archivo</a></i>
                <i class="fa fa-heart"></i>
              </div>
              <div class="comment-content">
                {{tarea.contenido}}
              </div>
            </div>
          </div>
          <ul class="comments-list reply-list">
            {% for comentarios in comentario  %}
			<li>
				<div class="comment-main-level">
				
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author" style="--autor: '{{comentarios.usuario}}';"><a href="http://creaticode.com/blog">{{comentarios.usuario.empresa}}</a></h6>
							<span>{{comentarios.fecha_ingreso}}</span>

							<i class="fa fa-heart"><a href="http://{{ request.get_host }}/media/{{comentarios.archivo}}">Archivo</a></i>
						</div>
						<div class="comment-content">
                            {{comentarios.contenido}}
                            
						</div>
					</div>
				</div>
				
			</li>

            {% endfor %}
		</ul>
    </li>
</ul>
</div>
		
	</div>
 
        
    
</div>

 <style>
     /**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
 * {
 	margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

 a {
 	color: #03658c;
 	text-decoration: none;
 }

ul {
	list-style-type: none;
}

body {
	font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
	background: #dee1e3;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 0px 2em 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: var(--autor);
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}
 </style>
{% endblock body %}
