{% extends 'base_dash.html' %}
{% load static %}
{% block estilos %}
<link href="{% static 'recursos/css/lobilist.css'%}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
    integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
    crossorigin="anonymous" />
<style>
    .lobilists .lobilist-add-todo-form {
    padding: 10px;
    visibility: hidden;
}

</style>
{% endblock estilos %}
{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
    integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"
    integrity="sha512-0bEtK0USNd96MnO4XhH8jhv3nyRF0eK87pJke6pkYf3cM0uDIhNJy9ltuzqgypoIFXw3JSuiy04tVk4AjpZdZw=="
    crossorigin="anonymous"></script>
<script src="{% static 'recursos/js/lobilist.js'%}"></script>
<script>
    $(document).ready(function () {
        $('.lobilist-demo').lobiList({
            afterMarkAsDone: function (item, elemento) {
                $.ajax({
                    method: 'POST',
                    data: {
                        id: elemento.id,
                        estado: 'True',
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },

                });
            },
            afterMarkAsUndone: function (item,elemento) {
                $.ajax({
                    method: 'POST',
                    data: {
                        id: elemento.id,
                        estado: 'False',
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },

                });
            },
            lists: [
                {
                    title: 'Tareas',
                    defaultStyle: 'lobilist-info',
                    items: [
                        {% for pendientes in tareas %}
            {
                    title: `<a href="http://{{request.get_host}}/tareas/detalle/{{pendientes.id}}">{{pendientes.titulo}}</a>`,
                    id: '{{pendientes.id}}',
                    description: '{{pendientes.contenido|truncatechars:20}}',
                    dueDate: '{{pendientes.fecha_vencimiento}}',
                    {% if pendientes.estado == True %}
                        {{ "done: true,"}}
                    {% endif %}
                },
        {% endfor %}
               
            ]
        }
    ]
});
    });

</script>
{% endblock scripts %}

{% block body %}
<div class="flex-fill p-3 row no-gutters">
    <div class="lobilist-demo" style="padding-top: 2em;padding-left: 2em;"></div>
    <br>
</div>



{% endblock body %}