{% extends 'base_dash.html' %}
{% load static %}
{% block estilos %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
{% endblock estilos %}

{% block body %}



<input type="hidden" name="url_base" id="url_base" />


<div class="flex-fill">
    <div class="d-flex justify-content-between">
        <div>
            <div class="px-3 pt-3">Hola!, {{user.nombre}}</div>
            <div class="px-3" style="color:#ABAFB3">Bienvenido a ARC</div>
            <div style="padding-left: 1em;" id="buscar_fecha" style="width: 150%;"></div>
        </div>
        <div style="font-size: 10px;" class="pt-3 pr-2">ID-USUARIO: {{user.id}}</div>
    </div>
    <div class="p-3 row no-gutters">
        <div class="col-lg-8 order-lg-1 order-2">
            <div class="row no-gutters">
                <div class="col-lg-5 p-2">
                    <div class="sombra_panel_22 fondo_panel p-3">
                        <h1>TOTAL ABONOS</h1>

                        <table class="table" id="abonos">
                            <thead>
                                <tr>
                                    <th scope="col">Apartamento</th>
                                    <th scope="col">Monto</th>
                                    <th scope="col">fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pagos_d in pagos%}
                                <tr>
                                    <th scope="row">{{pagos_d.id_apartamento}}</th>
                                    <td class="moneda" valor="{{pagos_d.monto}}">{{pagos_d.monto}}</td>
                                    <td>{{pagos_d.fecha}}</td>


                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>


                        <div>


                        </div>
                    </div>

                </div>
                <div class="col-lg-7 p-2 ">
                    <div class="sombra_panel_22 fondo_panel pt-3 px-3">
                        <h1>TOTAL DEUDA PAGADA</h1>
                        <table class="table" id="deudores">
                            <thead>
                                <tr>

                                    <th scope="col">PROPIETARIO</th>
                                    <th scope="col">APARTAMENTO</th>
                                    <th scope="col">TOTAL MES</th>
                                    <th scope="col">ACC</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for deudores in deudasMes%}


                                <tr>

                                    <td>{{deudores.propietario}}</td>
                                    <td><a
                                            href="http://{{request.get_host}}/tareas/listado/{{deudores.id_apartamento}}">{{deudores.id_apartamento}}</a>
                                    </td>
                                    <td class="moneda" valor="{{deudores.total_mes}}">{{deudores.total_mes}}</td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#exampleModalLong" onclick="
                                                    $('#propietario').val('{{deudores.propietario}}');
                                                    $('#id_deuda').val('{{deudores.id}}');
                                                    $('#id_id_apartamento').val('{{deudores.id_apartamento}}');
                                                    $('#id_apartamento').val('{{deudores.apartamento}}');
                                                    $('#apartamento').val('{{deudores.apartamento}}');
                                                    $('#id_id_usuario').val('{{user.id}}');
                                                    $('#id_deuda option[value=´{{deudores.id_deuda}}´]').attr('selected', true);
                                                    //$('#id_deuda').prop('disabled', true);

                                                    $('#id_deuda').addClass('form-control');
                                                    $('#id_nombre_propietario').val('{{deudores.propietario}}');
                                                    const formatter = new Intl.NumberFormat('es-CO', {
                                                        style: 'currency',
                                                        currency: 'COP',
                                                        minimumFractionDigits: 0
                                                    });
                                                    $('#total_mes_modal').val(formatter.format('{{deudores.total_mes}}'));
                                                    
                                                    ">
                                            Abonar
                                        </a>

                                    </td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>


                    </div>


                </div>

            </div>
        </div>
        <div class="col-lg-4 px-2 pt-2 order-lg-2 order-1">
            <div class="degrade_verde mb-3" style="border-radius: 20px;">
                <div class="d-flex p-3">
                    <div><canvas id="totalmes_g"></canvas></div>
                    <div class="pl-3 pt-3">
                        <div style="font-size: 34px;"><b class="text-light " id="totalmes"
                                valor="{{totalMes}}">{{totalMes}}</b>
                        </div>
                        <div class="text-light"><b>TOTAL DE LA DEUDA</b></div>
                    </div>
                </div>
            </div>
            <div class="degrade_morado mb-3" style="border-radius: 20px;">
                <div class="d-flex p-3">
                    <div><canvas id="totalrecaudo_g"></canvas></div>
                    <div class="pl-3 pt-3">
                        <div style="font-size: 34px;"><b class="text-light monto" id="total_recaudo_mes"
                                valor="{{total_pagos_mes}}">{{total_pagos_mes}}</b></div>
                        <div class="text-light"><b>TOTAL RECAUDO</b></div>
                    </div>
                </div>

            </div>
            <!-- <div class="degrade_rosa mb-3" style="border-radius: 20px;">
                <div class="d-flex p-3">
                    <div><canvas id="totalgestion_g"></canvas></div>
                    <div class="pl-3 pt-3">
                        <div style="font-size: 34px;"><b class="text-light">230 / 600</b></div>
                        <div class="text-light"><b>TOTAL GESTIÓN</b></div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>





<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Añadir abono</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="form-group">
                    <label>Apartamento</label>
                    <input type="text" disabled class="form-control" id="apartamento" name="apartamento">
                </div>
                <div class="form-group addabono">
                    <label>Total mes</label>
                    <input disabled type="text" class="form-control " id="total_mes_modal" name="total_mes"
                        data-thousands="." data-decimal="," data-precision="0">
                </div>

                <form method="post" id="abono_formulario">
                    {% csrf_token %}
                    {% for formulario in form %}
                    {{formulario.label}}
                    {{formulario}}
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-primary">Añadir</button>
                </form>

            </div>

        </div>
    </div>
</div>
{{pagos.fecha}}
{% endblock body %}


{% block scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/assets/f2/3.2.3/f2.js"></script>
<script>
    $(document).ready(function () {
        var now = new Date();

        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        var today = now.getFullYear() + "-" + (month) + "-" + (day);

        $('#id_fecha').val(today);


        var url = window.location.href;
        function updateDay(day) {
            if (day.length == 1) {
                return "0" + day;
            } else {
                return day;
            }
        }
        $("#buscar_fecha").ready(function () {

            historia_fecha();
        });
        function addabono() {

        }
        function historia_fecha() {
            if (url.indexOf('?') > -1) {
                $('<input>').attr({
                    type: 'text',
                    id: 'busqueda_fecha',
                    name: 'daterange',
                    class: 'form-control',
                    style: 'border: gray solid 1px;width: 100%;',
                    value: findGetParameter("fechaf") + " " + "-" + " " + findGetParameter("fechaf_uno")
                }).appendTo('#buscar_fecha');
            } else {
                $('<input>').attr({
                    type: 'text',
                    id: 'busqueda_fecha',
                    name: 'daterange',
                    class: 'form-control',
                    style: 'border: gray solid 1px;width: 100%;',
                }).appendTo('#buscar_fecha');
            }

            $(function () {
                $('input[name="daterange"]').daterangepicker({
                    opens: 'left'
                }, function (start, end, label) {
                    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                    var url = window.location.href;

                    if (url.indexOf('?') > -1) {

                        url = $('#url_base').val() + '?&fecha=' + start.format('YYYY-MM-DD') + '&&fecha_uno=' + end.format('YYYY-MM-DD') + '&fechaf=' + start.format('MM/DD/YYYY') + '&fechaf_uno=' + end.format('MM/DD/YYYY');
                    } else {
                        url += '?&fecha=' + start.format('YYYY-MM-DD') + '&&fecha_uno=' + end.format('YYYY-MM-DD') + '&fechaf=' + start.format('MM/DD/YYYY') + '&fechaf_uno=' + end.format('MM/DD/YYYY');
                    }
                    window.location.href = url;
                });
            });
        }

        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            location.search
                .substr(1)
                .split("&")
                .forEach(function (item) {
                    tmp = item.split("=");
                    if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }
        $('#deudores').DataTable({

            "language": {

                "sProcessing": "Procesando...",
                "sLengthMenu": "",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            }
        });
        $('#abonos').DataTable({
            "order": [[2, "desc"]],
            "language": {

                "sProcessing": "Procesando...",
                "sLengthMenu": "",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            }
        });
        convertir_moneda();

        $(".sorting").click(function () {

            convertir_moneda();

        })
        $("input[aria-controls='deudores']").focus(function () {

            $(document).keyup(function (event) {

                event.preventDefault();

                convertir_moneda();

            })


        })
        $(".dataTables_paginate").click(function () {

            convertir_moneda();

        });
    });



    $("#total_recaudo_mes").text(formatter.format('{{total_pagos_mes}}'))
    $("#totalmes").text(formatter.format('{{totalMes}}'))
</script>
<script>

    $('#abono_formulario').submit(function () {
        var value = $('#id_monto').maskMoney('unmasked')[0];
        $('#id_monto').val(value);
        $('#id_monto').maskMoney('destroy');
    })
    $(function () {
        $('#id_monto').maskMoney({ thousands: '.', decimal: ',', allowZero: false });
        //$('#total_recaudo_mes').maskMoney({thousands:'.', decimal:',', allowZero:false});
    });

    $(document).ready(function () {
        var datap1 = "{{porcentaje_mes}}";
        var datap2 = "{{porcentaje_mes_pago}}";

        const data = [{
            x: '1',
            y: parseInt(datap1)
        }];
        const data2 = [{
            x: '1',
            y: parseInt(datap2)
        }];

        const chart = new F2.Chart({
            id: 'totalmes_g',
            width: 110,
            height: 110,
            padding: 0,
            pixelRatio: window.devicePixelRatio
        });
        chart.source(data, {
            y: {
                max: 100,
                min: 0
            }
        });
        chart.guide().text({
            position: ['50%', '50%'],
            content: parseFloat(datap1) + '%',
            style: {
                fill: '#fff',
            }
        });
        chart.axis(false);
        chart.tooltip(false);

        chart.coord('polar', {
            transposed: true,
            innerRadius: 0.8,
            radius: 0.85,

        });
        chart.guide().arc({
            start: [0, 0],
            end: [1, 99.98],
            top: false,
            style: {
                lineWidth: 15,
                stroke: '#B9F8D8',
                background: '#FFF'
            }
        });

        chart.interval()
            .position('x*y')
            .size(15).color(
                ['#6AE796']
            )
            .animate({
                appear: {
                    duration: 1200,
                    easing: 'cubicIn'
                }
            });
        chart.render();
        const chart2 = new F2.Chart({
            id: 'totalrecaudo_g',
            width: 120,
            height: 120,
            padding: 0,
            pixelRatio: window.devicePixelRatio
        });
        chart2.source(data2, {
            y: {
                max: 100,
                min: 0
            }
        });
        chart2.axis(false);
        chart2.tooltip(false);

        chart2.coord('polar', {
            transposed: true,
            innerRadius: 0.8,
            radius: 0.85,

        });
        chart2.guide().text({
            position: ['50%', '50%'],
            content: parseFloat(datap2) + '%',
            style: {
                fill: '#fff',
            }
        });
        chart2.guide().arc({
            start: [0, 0],
            end: [1, 99.98],
            top: false,
            style: {
                lineWidth: 15,
                stroke: '#F1D8FD',
                background: '#FFF'
            }
        });

        chart2.interval()
            .position('x*y')
            .size(15).color(
                ['#D78AF9']
            )
            .animate({
                appear: {
                    duration: 1200,
                    easing: 'cubicIn'
                }
            });
        chart2.render();
        const chart3 = new F2.Chart({
            id: 'totalgestion_g',
            width: 130,
            height: 130,
            padding: 0,
            pixelRatio: window.devicePixelRatio
        });
        chart3.source(data, {
            y: {
                max: 100,
                min: 0
            }
        });
        chart3.axis(false);
        chart3.tooltip(false);

        chart3.coord('polar', {
            transposed: true,
            innerRadius: 0.8,
            radius: 0.85,

        });
        chart3.guide().arc({
            start: [0, 0],
            end: [1, 99.98],
            top: false,
            style: {
                lineWidth: 15,
                stroke: '#FAE4F1',
                background: '#FFF'
            }
        });

        chart3.interval()
            .position('x*y')
            .size(15).color(
                ['#ED5DAD']
            )
            .animate({
                appear: {
                    duration: 1200,
                    easing: 'cubicIn'
                }
            });
        chart3.render();
    })
</script>
{% endblock scripts %}